$color_uno:#13494e;
$color_dos:#29b7c3;
$color_tres: #cee8e7;
$color_cuatro: white;
$color_cinco:black;
$color_seis:#ececec;
$font_principal:'Raleway', sans-serif;
$font_secundaria: 'Cormorant Garamond', serif;

